@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Kaushan+Script&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu {
  -webkit-box-shadow: 0px 0px 10px -3px black;
          box-shadow: 0px 0px 10px -3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  height: 110vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
  margin-top: 5%;
  background: #FCDFDB;
  font-family: "satisfy";
}

.menu td {
  padding-left: 40px;
}

.menu th {
  padding-right: 40px;
}

.menu table {
  width: 100%;
}

.menu * {
  padding: 1%;
}

.menu .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu div.para {
  width: 100%;
  font-size: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .anim {
  position: relative;
}

.menu div.para::before {
  content: '';
  height: 3px;
  position: relative;
  bottom: -20px;
  left: -3%;
  width: 0%;
  background: #3d1319;
  -webkit-transition: 1s;
  transition: 1s;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu div.para:hover::before {
  width: 107%;
}

.menu .underline1 {
  width: 100%;
  border-bottom: 2px solid #3d1319;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.menu .underline2 {
  width: 100%;
  border-bottom: 2px solid #3d1319;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2%;
}

.menu .retour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
}

.menu .xxx {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#haut {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#bas {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#bloc1 {
  background: #FCDFDB;
  background-color: violet;
  font-size: 2em;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35vw;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 10px -3px black;
          box-shadow: 0px 0px 10px -3px black;
  font-family: "satisfy";
}

#bloc1 h3 {
  color: #3d1319;
  font-size: 2em;
}

#bloc2 {
  font-size: 2em;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35vw;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 10px -3px black;
          box-shadow: 0px 0px 10px -3px black;
  background-color: #FFF5FE;
  font-family: "DM Serif Display", serif;
}

#bloc2 h3 {
  color: #c77412;
  font-size: 2em;
}

.bloc2text {
  background-image: linear-gradient(160deg, #e0881d 5%, #8f5aff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc3text {
  background-image: linear-gradient(160deg, #0023db, #0889fb 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc4text {
  background-image: linear-gradient(45deg, #3e923a, #beff7f 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bloc3 {
  font-size: 2em;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35vw;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 10px -3px black;
          box-shadow: 0px 0px 10px -3px black;
  background: #ebebeb;
  font-family: "Bad Script", cursive;
}

#bloc3 h3 {
  font-size: 2em;
}

#bloc4 {
  font-size: 2em;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35vw;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 10px -3px black;
          box-shadow: 0px 0px 10px -3px black;
  background: white;
  font-family: "Kaushan Script", cursive;
}

#bloc4 h3 {
  font-size: 2em;
  color: #3e923a;
}

#titre {
  font-size: 2em;
  color: orange;
  width: 100vw;
  height: 80px;
  background-color: #579C87;
  text-align: center;
}

footer {
  position: fixed;
  background-color: #579C87;
  width: 100vw;
  color: orange;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#prochainement {
  background-color: #579C87;
  height: 15vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: orange;
}
/*# sourceMappingURL=style.css.map */