@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Kaushan+Script&family=Satisfy&display=swap");

$colorbloc1: #FCDFDB;
$colorbloc2: #fff5fe;
$colorbloc3: #ebebeb;;
$colorbloc4: white;
$colorheadfoot: #579C87;
$colortext:orange;
$stylebloc1:font-family: "Satisfy", cursive;
$stylebloc2:
$stylebloc3:
$stylebloc4:
html {
    
}
*{
    margin: 0;
    padding: 0;

}
body { 
    display: flex;
    flex-direction: column;
    
}
@mixin bloc {
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex; 
    width: 35vw;
    height: 55vh;
    justify-content: center;
    box-shadow:0px 0px 10px -3px black;
}

#haut{margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#bas{ margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#bloc1 {
    font-family: "Satisfy"
    background-color: violet;
    @include bloc;
    border-right: 90px;
    background: $colorbloc1;
    
}

#bloc2{
    background-color: wheat;
    @include bloc;
    background: $colorbloc2;
    font-family: $stylebloc2;

}

#bloc3{ 
    background-color: plum;
    @include bloc;
    background: $colorbloc3;
    font-family: $stylebloc3;
}

#bloc4{
    background-color: palegoldenrod;
    @include bloc;
    background: $colorbloc4;
    font-family: $stylebloc4;
}

#titre {
    color: $colortext;
    width: 100vw;
    height: 10vh;
    background-color:$colorheadfoot;
    text-align: center;
    
}

footer {
    position: fixed;
    background-color: $colorheadfoot;
    width: 100vw;
    color: $colortext;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 10%;
    align-items: center;
}
#prochainement{
    
    background-color:$colorheadfoot;
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    color: $colortext;

}
