@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Kaushan+Script&family=Satisfy&display=swap");
$colorbloc1: #FCDFDB;
$colorbloc2:#FFF5FE;
$colorbloc3: #ebebeb;;
$colorbloc4: white;
$colorheadfoot: #579C87;
$colortext:orange;
$styletexte1: #3d1319;
$styletexte2: #c77412;



$fontfamily1:"satisfy";
$fontfamily2:"DM Serif Display", serif;
$fontfamily3:"Bad Script", cursive;
$fontfamily4:"Kaushan Script", cursive;

html { 
    
}

*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

@mixin bloc {
    font-size: 2em;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex; 
    width: 35vw;
    height: 55vh;
    justify-content: center;
    box-shadow:0px 0px 10px -3px black;
    
    :hover{
        
    }
}

@mixin pages {
    box-shadow:0px 0px 10px -3px black;
    display:flex;
    width: 80vw;
    height: 80vh;
    flex-direction: column;
    
    margin-left: 10%;
    margin-top: 5%;
    td {
        padding-left: 40px;
    }
    th{
        padding-right: 40px;
    }
    table{
        width: 100%;
    }
    *{ padding: 1%;
        
    }
    .para{
        line-height: 5px;
        margin: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
    }
    
    
    
}

.menu{
    @include pages ;
    background: #FCDFDB;
    font-family: "satisfy";

}



#haut{margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#bas{ margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#bloc1 {
    background: $colorbloc1;
    background-color: violet;
    @include bloc;
  
    font-family: "satisfy";
    h3{
        color:#3d1319;
        font-size: 2em ;
    }
    
}

#bloc1text {
     
}

#bloc2 {
    @include bloc;
    background-color: $colorbloc2;
    font-family: "DM Serif Display", serif;
    
    h3 {
        color:#c77412;
        font-size: 2em ;
    
    }

   
}

.bloc2text {    
    background-image: linear-gradient(160deg, #e0881d 5%, #8f5aff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bloc1text {
    
}
.bloc3text { 
    background-image: linear-gradient(160deg, #0023db, #0889fb 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bloc4text {
    background-image: linear-gradient(45deg, #3e923a, #beff7f 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


#bloc3{ 
    @include bloc;
    background: $colorbloc3;
    font-family: "Bad Script", cursive;
    
  h3 {
      font-size: 2em ;
  }
    
}

#bloc4{

    @include bloc;
    background:$colorbloc4;
    font-family: "Kaushan Script", cursive;
    h3 {
        font-size: 2em;
        color:#3e923a;
    }
   
  
    
}

#titre {
    font-size: 2em;
    color: $colortext;
    width: 100vw;
    height: 80px;
    background-color:$colorheadfoot;
    text-align: center;
}

footer {
    position: fixed;
    background-color: $colorheadfoot;
    width: 100vw;
    color: $colortext;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 10%;
    align-items: center;
}

#prochainement{
    background-color:$colorheadfoot;
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    color: $colortext;
}
