@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Kaushan+Script&family=Satisfy&display=swap");
$colorbloc1: #FCDFDB;
$colorbloc2:#FFF5FE;
$colorbloc3: #ebebeb;;
$colorbloc4: white;
$colorheadfoot: #579C87;
$colortext:orange;
$styletexte1: #3d1319;
$styletexte2: #c77412;
$colorgradient: linear-gradient(#e66465, #9198e5);



$fontfamily1:"satisfy";
$fontfamily2:"DM Serif Display", serif;
$fontfamily3:"Bad Script", cursive;
$fontfamily4:"Kaushan Script", cursive;

html {
        max-width: auto;
}
body {
    
    max-height: auto;
    min-height: 1500px;
    display: flex;
    flex-direction: column;
}



* {
    margin: 0;
    padding: 0;
}



@mixin bloc {
    font-size: 2em;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex; 
    width: 35vw;
    height: 600px;
    justify-content: center;
    box-shadow:0px 0px 10px -3px black;
    
    
}

@mixin pages {
    box-shadow:0px 0px 10px -3px black;
    display:flex;
    width: 80vw;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 5%;
   
    
    td {
        padding-left: 40px;
    }
    th {
        padding-right: 40px;
    }
    table {
        width: 100%;
    }
    *{ padding: 1%;
    }
    
    .display {
        display: flex;
        height: 35px;
        flex-direction: row;
    }
    
    div.para {
        width: 100%;
        font-size: 30px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 100%;
        flex-direction: column;
      
    }
    
    .anim {
        position: relative;
        
    }
    
    div.para::before {

        content: '';
        height: 3px;
        position: relative;
        bottom: -20px;
        left:-3%;
        
        width: 0%;
        background:$styletexte1;
        transition: 1s;
        flex-wrap: wrap;
    }

    div.para:hover::before {
        width: 107%;
    }
    
    .underline1 {  
    
        width: 100%;
        border-bottom:4px solid #3d1319;
        margin-left: 5% ;
        margin-right: auto;
        margin-bottom: 2%;
        
            

            
            
        }
    .underline2{ 
            
            
        width: 100%;
        border-bottom:4px solid #3d1319;
        margin-right: 5%;
        margin-left: auto;
        margin-bottom: 2%;
        
           
        }
    

    
    .xxx{
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
    }

    h1 {
        text-align: center;
        font-size: 3em;
        color: $styletexte1;

    }
    
    .position-btn-retour {
        margin-bottom: 120px;
        width: 100%;
        display: flex;
        justify-content: center;
        color: $styletexte1;
        background-color: $colorheadfoot;
        width: 130px;
        margin: auto;
        border-radius: 15px;
        font-size: 2em;
      }
    
    
}

.menu{
    @include pages ;
    background: #FCDFDB;
    font-family: "satisfy";
    height: auto;

}





#haut{margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    :hover{
        transform: scale(1.1,1.1);

        
    }
}

#bas{ margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    :hover{
        transform: scale(1.1,1.1);

        
    }
}

#bloc1 {
    background: $colorbloc1;
    background-color: violet;
    @include bloc;
  
    font-family: "satisfy";
    h3{
        color:#3d1319;
        font-size: 2em ;
    }
    
    
}

#bloc1text { 
     
}

#bloc2 {
    @include bloc;
    background-color: $colorbloc2;
    font-family: "DM Serif Display", serif;
    
    h3 {
        color:#c77412;
        font-size: 2em ;
    
    }

   
}

.bloc2text {    
    background-image: linear-gradient(160deg, #e0881d 5%, #8f5aff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bloc1text {
    
}
.bloc3text { 
    background-image: linear-gradient(160deg, #0023db, #0889fb 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bloc4text {
    background-image: linear-gradient(45deg, #3e923a, #beff7f 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


#bloc3{ 
    @include bloc;
    background: $colorbloc3;
    font-family: "Bad Script", cursive;
    
  h3 {
      font-size: 2em ;
  }
    
}

#bloc4{

    @include bloc;
    background:$colorbloc4;
    font-family: "Kaushan Script", cursive;
    h3 {
        font-size: 2em;
        color:#3e923a;
    }
   
  
    
}

#titre {
    font-size: 2em;
    color: $colortext;
    width: 100vw;
    height: 80px;
    background-color:$colorheadfoot;
    text-align: center;
}

footer {
    position: fixed;
    background-color: $colorheadfoot;
    width: 100vw;
    color: $colortext;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 10%;
    align-items: center;

    :hover{
        animation-name: moove;
        animation-duration: 1s;

    }
    @keyframes moove {
        0% { transform: rotate(5deg);}
        25% { transform: rotate(-5deg);}
        50% { transform: rotate(5deg);}
        75% { transform: rotate(-5deg);}
        100% { transform: rotate(5deg);}
        
    }
}

#prochainement{
    background-color:$colorheadfoot;
    height: 15vh;
    width: 100vw;
    align-items: center;
    text-align: center;
    color: $colortext;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    color: $styletexte1;
    font-size: 30px;
    width: auto;
    margin: auto;
    border-radius: 15px;
}

@mixin dot { padding-bottom: 12% ;
    font-size: 2em;
    animation-name: wait;
    animation-duration: 3s ;
   animation-iteration-count: infinite;
   
    
}

.dot1{@include dot
}
.dot2{@include dot
    animation-delay: 1s;
    
}
.dot3{@include dot
    animation-delay: 2s;
}

@keyframes wait{
    0% { opacity: 0%;}
    10% { opacity: 20%;}
    20% { opacity: 40%;}
    30% { opacity: 60%;}
    40% { opacity: 80%;}
    50% { opacity: 100%;}
    60% { opacity: 80%;}
    70% { opacity: 60%;}
    80% { opacity: 40%;}
    90% { opacity: 20%;}
    100% { opacity: 0%;}

}

    .noteMusiqueBasPage {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $styletexte1;
}

  .noteMusiqueBasPage span {
      width: auto;
      color: $styletexte2;
}  


.fa-music {display: flex; 
    width: 100%; 
    justify-content: center; 
    background: $colorgradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5em; 
    align-items: center;
}

span.fa-music {color: $colorgradient;;
    font-size: 1em;
    
}